.bg-image {
    background-image: url("../assets/pexels-quang-nguyen-vinh-3872150.jpg");
    width:100%;
    height:100%;
    filter: saturate(75%) brightness(90%) blur(5px);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position:fixed;
    z-index: -1;
  }
  .activities-block {
    background-color:rgb(255, 228, 196, 0.6);
    padding-top: 1px;
  }
  h1 {
    text-align: center;
  }
  .activity-div {
    display: none;
  }
  
  .selectedblock {
    display: block;
  }
  #meditate-block img {
    float:none;
    max-width: 80%;
    margin-inline: 10%;
  }
  #yoga-block img {
    float: left;
    height: 20rem;
    width: 15rem;
    object-fit: contain;
    margin: 10PX;
  }
  #exercise-block img {
    float: left;
    height: 20rem;
    width: 15rem;
    object-fit: contain;
    margin: 10PX;
  }
  .activity-block {
    width: fit-content;
    height: fit-content;
    background-color: beige;
    padding-left: 5%;
    padding-right: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    align-items: center;
    display: grid;
  }
  .exercise-block {
    display: none;
  }
  .activitiestab {
    width: auto;
    display: flex;
    justify-content: center;
    background-color: wheat
  }
  .activitiestabs {
    padding: 16px;
    background-color: wheat;
    border: 0;
    cursor: pointer;
  }
  .selectedtab {
    background-color: beige;
  }
  .activitiestabs:hover {
    background-color: rgb(206, 218, 105);
  }
  h1, button {
    font-family: 'Comfortaa', cursive;
  }
  h3 ,h4{
    font-family: 'Quicksand', sans-serif;
  }
