.bg-image {
    background-image: url("../assets/ajit-singh-as3yY6FlKo8-unsplash\ \(1\).jpg");
    width:100%;
    height:100%;
    filter: brightness(75%);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position:fixed;
    z-index: -1;
  }
.title {
  width: fit-content;
  color: black;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  word-spacing: 0.5vw;
  font-size:2vw;
  line-height: 10vh;
  margin-inline: auto;
  color: white;
  text-shadow: -1px 1px var(--dark), 1px 1px var(--dark), 1px 1px var(--dark), 1px -1px var(--dark);
}
.subheading {
  padding-top: 100px; 
  background-color: var(--light);
}
h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  box-shadow: 10px 10px 0 var(--dark);
  margin-inline: 100px; 
  padding: 10px;
  background-color: var(--lightneutral)
}
h2 {
  font-weight:bold;
  font-family: 'Quicksand', sans-serif;
  text-shadow: 3px 3px 7px var(--dark);
}
@media screen and (max-width: 600px) {
  h3{
    margin-inline: 0;
    width: 100%;
  }
  .subheading {
    width: 100%;
  }
}