:root {
  --light: rgba(172, 220, 212, 0.541);
  --lightneutral: #59788E;
  --neutral: rgb(0,142,168);
  --dark: rgb(0,86,93);
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

.tab {
    z-index: 11;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    position:fixed;
    top:0;
    width:100%;
    padding: 0;
    
}

.tab li {
    display: block;
}

.tabs {
  font-family: 'Comfortaa', cursive;
    padding: 10px 20px;
    float: left;
    text-align: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.tabs:hover {
    background-color: var(--neutral);
  }
  
#login {
    padding: 10px 20px;
    float: right;
}
#dashboard {
  padding: 10px 20px;
  float: right;
}
.tab-block {
    width: auto;
    height: 38px;
}
.tab .icon {
    display: none;
  }
@media screen and (max-width: 600px) {
    .tab li:not(:first-child) {display: none;}
    .tab li.icon {
      float: right;
      display: block;
    }
    .tab {
      background:  var(--dark);
    }
  }
  
@media screen and (max-width: 600px) {
    .tab.responsive li {
        display: grid;
      text-align: left;
      width: 100%;
    }
    .tab.responsive {
        background:  var(--dark);
    }
  }
  .feedback-block {
    font-family: 'Quicksand', sans-serif;
    opacity: 90%;
    position: fixed;
    bottom: 0;
    left: 0px;
    padding-inline: 10px;
    padding-bottom: 30px;
    background-color: var(--neutral);
    border-radius: 10px 10px 0px 0px;
    border: 3px solid var(--light);
    border-left: 0;
    border-bottom: 0;
}
.feedback-block button {
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(196, 231, 243);
  border-radius: 5px;
  border-color: lightblue;
}
.feedback-block h3 {
  color: white;
  margin-block: 10px;
  text-align: center;
}
.feedback-block input {
  border-color: white;
  border-radius: 5px;
}