body {
    background-image: url('../assets/pexels-pixabay-289586.jpg');
    background-attachment: fixed;
    background-size: cover;
  }
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }

.login-block {
    z-index: 10;
    padding-left: 21px;
    padding-right: 21px;
    height: 100%;
    flex: 1 0 auto;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    width: 25%;
    min-width: 400px;
    background-color:	rgb(220,220,220, 0.7);
}
.login-container {
  padding-top: 30%;
}
.btn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 10px;
  }
  
  @media screen and (max-width: 600px) {
    span.psw {
      display: block;
      float: none;
    }
    .login-block {
      width: 100%;
      padding: 0;
    }
  }
  input , button, label{
    font-family: 'Quicksand', sans-serif;
  }
  b {
    font-family: 'Comfortaa', cursive;
  }