body {
    background-image: url('../assets/282654383_1115406309024345_4198657551417925337_n.jpg');
    background-attachment: fixed;
    background-size:contain;
    background-repeat: no-repeat;
  }

.login-block {
    z-index: 10;
    padding-left: 21px;
    padding-right: 21px;
    height: max-content;
    flex: 1 0 auto;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    width: 25%;
    min-width: 400px;
    background-color:	var(--light);
    height: 100%;
}
.login-container {
  padding-top: 30%;
}
.btn {
    background-color: var(--neutral);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 10px;
  }
  
  @media screen and (max-width: 600px) {
    span.psw {
      display: block;
      float: none;
    }
    .login-block {
      width: 100%;
      padding: 0;
    }
    .login-container {
      margin-inline: 10px;
    }
  }
  input , button, label{
    font-family: 'Quicksand', sans-serif;
  }
  b {
    font-family: 'Comfortaa', cursive;
  }
  h1 {
    font-family: 'Comfortaa', cursive;
  }